
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CLARIN</title>
    </head>
    <body>
        <main>
            <h1>CLARIN</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.clarin.com/economia/canasta-basica-familia-necesito-1308713-diciembre-pobre-indec_0_3P90i5tenb.html" target="_blank">La inflación de diciembre fue de 2,8% y cerró el 2025 en 31,5%, la más baja de los últimos ocho añosEl índice mostró un incremento por cuarto mes seguido. El transporte y los servicios encabezaron los aumentos, mientras que los alimentos también se ubicaron por encima del promedio. De todos modos, Milei lo celebró.Canasta básica: una familia necesitó $ 1.308.713 en diciembre para no ser pobreUno por uno, los rubros que más subieron y los que menos aumentaron en 2025Datos del INDECAgustina DevincenziAunque sigue en alza, la inflación de 2025 fue la más baja desde 2017.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/tension-gobierno-igj-nego-autorizado-mudanza-sede-legal-afa-caba-provincia-buenos-aires_0_czUDlc7Tae.html" target="_blank">La IGJ cruzó a la AFA y negó que haya autorizado la mudanza de su sede legal desde la Ciudad hacia la ProvinciaInvestiga sus balancesDaniel Santoro</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/pese-escandalo-afa-chiqui-tapia-seguira-frente-ceamse-respaldo-axel-kicillof-intendentes-conurbano_0_fblnIBV3Ot.html" target="_blank">Pese al escándalo de corrupción en la AFA, Tapia seguirá al frente de Ceamse con respaldo de Kicillof e intendentesRefuerza vínculos políticosSolo suscriptoresBernardo Vázquez</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/ola-gigante-mar-chiquita-senales-anticipan-fenomeno-hacer-turistas_0_pJgZNMQW1d.html" target="_blank">Ola gigante en Mar Chiquita: qué señales anticipan este fenómeno y qué tienen que hacer los turistas Dejó un muerto y 35 heridosEmilia Vexler Loop.. La ola gigante también llegó a Mar de Cobo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/pinamar-nene-8-anos-resulto-gravemente-herido-choque-camioneta-utv-frontera_0_upgd8WMOmF.html" target="_blank">Volvieron a operar al nene de 8 años gravemente herido por un choque en La Frontera: el día después, sigue el descontrolConmoción en PinamarCandela Toledo - Enviada</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/medica-ayudo-nene-accidentado-frontera-vi-cuerpo-suelo-dije-esposo-pare_0_JTtGSL9h0W.html" target="_blank">La médica que ayudó al nene accidentado en La Frontera: “Vi un cuerpo en el suelo y le dije a mi esposo que pare”Habló con ClarínCandela Toledo - Enviada</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/protestas-iran-trump-dice-manifestantes-ayuda-camino_0_a0dAAVhBgA.html" target="_blank">Protestas en Irán: Trump dice a los manifestantes que “la ayuda está en camino”Mensaje en TruthMundo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/estropeando-imagen-queja-argentina-amenazo-bate-beisbol-automovilista-punta_0_8G0UAMn4cN.html" target="_blank">“Están estropeando mi imagen”: habló la argentina que amenazó con un bate de béisbol a un automovilista en Punta del EsteAcumula más de 50 multasSociedadLoop. Una argentina amenazó a un conductor en Punta del Este con un bate de béisbol</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/marcela-feudale-pidio-perdon-dicho-incendios-chubut-provocados-israelies_0_Qmdg1SEOUV.html" target="_blank">Marcela Feudale pidió perdón por haber dicho que el fuego en la Patagonia fue provocado por dos israelíes Incendios en ChubutPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/espectaculos/susana-romero-encuentro-salvador-dali-necesito-verte-c_0_cXYgdLnSVv.html" target="_blank">Susana Romero y su encuentro con Salvador Dalí: “Necesito verte el c...”
El recuerdo de la actrizHernán Firpo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/incendios-chubut-reaviva-foco-epuyen-declaran-catastrofe-ignea_0_3yNAzhJRP8.html" target="_blank">Incendios en Chubut: el clima jugó en contra y se reavivó un foco en EpuyénEn un zona de difícil accesoSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/perros-pueden-formar-vocabulario-nenes-chiquitos-razas-talentosas_0_AOXXDBIgm6.html" target="_blank">Los perros pueden formar su vocabulario como nenes chiquitos: cuáles son las razas más “talentosas”Nuevo estudioEmily Anthes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/tecnologia/rechazar-llamadas-numeros-desconocidos-puede-error-recomiendan-expertos_0_5sYeqhtHhw.html" target="_blank">Rechazar llamadas de números desconocidos puede ser un error: qué dicen los expertosRecomendacionesSolo suscriptoresTecnología</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/supermercados-francia-niegan-vender-productos-mercosur-rechazo-acuerdo-comercial_0_Dxfkg1IpAW.html" target="_blank">Grandes cadenas en Francia se niegan a vender productos argentinos en rechazo al acuerdo con el MercosurLibre comercioMundo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/lilia-lemoine-denuncio-atacaron-casa-pedradas-plena-madrugada-pense-metido-adentro_0_hNqos5s263.html" target="_blank">Lilia Lemoine denunció que atacaron su casa a pedradas en plena madrugada: “Pensé que se habían metido adentro”Relató en redes el episodioPolítica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/alberto-cormillot-sufrio-accidente-automovilistico-mostro-cuello-ortopedico-sufri-latigazo_0_UKlHz7dLrn.html" target="_blank">Alberto Cormillot tuvo un accidente automovilístico y se mostró con cuello ortopédico: “Sufrí un latigazo”Los detalles de lo sucedidoFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/descubren-nueva-especie-dinosaurio-especial-homenaje-hicieron-nombre_0_fuF7x4q7VZ.html" target="_blank">Descubren una nueva especie de dinosaurio: el especial homenaje que le hicieron con el nombre Pesaba hasta 10 toneladasSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/nicolas-vazquez-sincero-hablo-primera-vez-detalle-relacion-dai-fernandez-linda-vida-compartida_0_W2WcIrbWnP.html" target="_blank">Nicolás Vázquez se sinceró y habló por primera vez en detalle de su relación con Dai FernándezCompañeros en “Rocky”Fama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/dante-ortega-enfrento-comentarios-homofobicos-hermanas-salimos-misma-orientacion-sexual_0_2o9E24FNqg.html" target="_blank">Dante Ortega enfrentó los comentarios homofóbicos: “Los tres salimos con la misma orientación sexual”Contra él y sus hermanasFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/graciela-alfano-mando-frente-mauricio-macri-separacion-juliana-awada-escribio-4-manana_0_sEqDnYJL8V.html" target="_blank">Graciela Alfano mandó al frente a Mauricio Macri tras su separación de Juliana Awada“Me escribió a las 4”Fama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/maia-reficco-hablo-rumores-romance-franco-colapinto-conto-conocieron_0_beD1r435LF.html" target="_blank">Maia Reficco habló sobre los rumores de romance con Franco ColapintoContó cómo se conocieronFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/new-york-times-international-weekly/eeuu-ataco-barco-aeronave-parecia-avion-civil_0_A6TS57qEll.html" target="_blank">EE.UU. atacó un barco con una aeronave que parecía un avión civilContra las leyes de la guerraCharlie Savage</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://elle.clarin.com/estilo-de-vida/celebridades/bella-hadid-secretos-celebrity_0_aQAbB27W5r.html" target="_blank">5 secretos desconocidos de Bella HadidPersonajeEstilo de vida - Celebridades</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    