
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CNN</title>
    </head>
    <body>
        <main>
            <h1>CNN</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/science/moon-stealing-earth-atmosphere-magnetic-field" target="_blank">Astronomers now say the moon is eating up molecules from Earth’s atmosphere</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/entertainment/scott-adams-death-cec" target="_blank">Scott Adams, ‘Dilbert’ comic creator, dies</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/travel/the-worlds-most-powerful-passports-for-2026" target="_blank">The world’s most powerful passports for 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//science/aquafade-electronics-casing-water-soluble-spc" target="_blank">These electronic devices dissolve in water</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/media/bbc-will-ask-dismiss-trump-lawsuit-intl" target="_blank">BBC says it will ask for dismissal of Trump’s lawsuit</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/politics/takeaways-supreme-court-arguments-transgender-athletes" target="_blank">Takeaways from Supreme Court arguments on transgender athletes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/politics/havana-syndrome-device-pentagon-hsi" target="_blank">Pentagon bought device through undercover operation some investigators suspect is linked to Havana Syndrome</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/style/nia-dacosta-28-years-later" target="_blank">‘28 Years Later’ director on the enduring allure of the horror film</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/12/style/golden-globes-red-carpet-fashion-analysis" target="_blank">At the Golden Globes, movie stars dressed for the present</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/12/style/golden-globes-red-carpet-fashion-gothic" target="_blank">Tired of traditional red carpet glam? The Golden Globes goth girls have you covered</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/style/south-korea-bts-tour-announcement-kpop-intl-hnk-dst" target="_blank">BTS propelled K-pop to global stardom. Nearly four years later, they’re back</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/11/world/video/deer-spars-rhino-wroclaw-zoo-poland-vrtc" target="_blank">Video
Deer spars with rhino at Polish zoo
0:25</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/health/weight-loss-drugs-suicide-risk-warning-removal" target="_blank">US FDA requests removal of suicide warnings from weight-loss drugs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/10/sport/video/dominic-thiem-australian-open-cnni-fast-sports" target="_blank">Video
Former Grand Slam winner Dominic Thiem previews upcoming Australian Open
4:13</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    