
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>INFOBAE</title>
    </head>
    <body>
        <main>
            <h1>INFOBAE</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/cual-es-el-nuevo-piso-para-los-trabajadores-que-pagan-ganancias-y-como-se-modificaron-las-escalas-del-monotributo/" target="_blank">Cuál es el nuevo piso para quienes pagan Ganancias y cómo se modificaron las escalas del Monotributo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/bandas-cambiarias-hasta-donde-podra-subir-el-dolar-en-febrero-sin-que-intervenga-el-gobierno/" target="_blank">Luego del dato de inflación, hasta dónde podrá subir el dólar en febrero sin que intervenga el Gobierno</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/aparecio-un-tsunami-un-programa-de-tv-capto-en-vivo-el-momento-de-la-ola-gigante-en-mar-del-plata/" target="_blank">"¡Apareció un tsunami!": un programa de TV captó en vivo el momento de la ola gigante en Mar del Plata</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/milei-y-caputo-celebraron-el-dato-de-inflacion-de-2025-este-es-el-unico-camino-viable/" target="_blank">Milei y Caputo celebraron el dato de inflación de 2025: “Este es el único camino viable”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/el-dolar-bajo-a-un-minimo-de-dos-semanas-y-el-bcra-compro-otros-usd-55-millones-en-el-mercado/" target="_blank">El dólar bajó a un mínimo de dos semanas y el BCRA compró otros USD 55 millones en el mercado</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/cuanto-aumentaran-las-jubilaciones-pensiones-y-asignaciones-en-febrero-de-2026-tras-el-ultimo-dato-de-inflacion/" target="_blank">Cuánto aumentarán las jubilaciones, pensiones y asignaciones en febrero, tras el dato de inflación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/jornada-financiera-las-acciones-y-los-bonos-reaccionaron-a-la-baja-por-un-dato-de-inflacion-mas-alto-que-lo-previsto/" target="_blank">Las acciones y los bonos reaccionaron a la baja por un dato de inflación más alto que lo previsto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/un-hombre-le-dio-una-paliza-brutal-a-un-perro-que-le-ladro-a-su-hija-que-se-mueran-todos/" target="_blank">Un hombre le dio una paliza brutal a un perro que le ladró a su hija: "Que se mueran todos"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/diego-mesaglio-el-actor-que-perdio-un-ojo-en-2014-recibio-la-mejor-noticia-anos-esperando-este-llamado/" target="_blank">Diego Mesaglio, el actor que perdió un ojo en 2014, recibió la mejor noticia: “Años esperando este llamado”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/no-sabia-que-venia-a-entrenar-a-una-guarderia-revelaron-las-peleas-y-roces-derivaron-en-la-salida-de-xabi-alonso-del-real-madrid/" target="_blank">"¡No sabía que venía a una guardería!": revelaron las peleas que derivaron en la salida de Xabi Alonso del Madrid</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/la-oposicion-presiona-para-aumentar-los-recursos-destinados-a-combatir-los-incendios-en-la-patagonia/" target="_blank">La oposición presiona para aumentar los recursos destinados a combatir los incendios en la Patagonia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/epuyen-declaro-la-catastrofe-ignea-por-los-incendios-forestales-que-ya-afectaron-mas-de-12-mil-hectareas/" target="_blank">Epuyén declaró la catástrofe ígnea por los incendios forestales que ya afectaron más de 12 mil hectáreas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/atraparon-al-ultimo-complice-del-hermano-de-rocio-oliva-preso-por-una-causa-por-entraderas-en-paso-del-rey/" target="_blank">Atraparon al último cómplice del hermano de Rocío Oliva, preso por una causa por entraderas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/mauro-icardi-fallo-dos-penales-consecutivos-en-galatasaray-la-reaccion-del-argentino-con-el-arquero-rival/" target="_blank">Mauro Icardi falló dos penales consecutivos en Galatasaray: su reacción ante el arquero rival</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/mundo/2026/01/13/crisis-en-iran-en-vivo/" target="_blank">Amenaza del régimen de Irán a Estados Unidos: “Defenderemos el país hasta la última gota de sangre”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/reforma-laboral-las-senales-del-gobierno-que-recibio-la-cgt-y-el-ministro-que-fue-apartado-de-las-negociaciones/" target="_blank">Reforma laboral: señales del Gobierno que recibió la CGT y un ministro apartado de las negociaciones</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/la-palabra-de-la-mujer-senalada-como-amante-de-luciano-castro-a-mi-no-me-dijo-buen-dia-guapa/" target="_blank">La palabra de la mujer señalada como amante de Luciano Castro</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/judiciales/2026/01/13/acusaciones-cruzadas-entre-la-afa-y-el-hospital-de-bahia-blanca-por-108-millones-recaudados-en-un-partido-solidario/" target="_blank">Acusaciones cruzadas entre la AFA y el hospital de Bahía Blanca por millones recaudados en un partido</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/judiciales/2026/01/13/escandalo-en-la-afa-un-sponsor-suspendio-pagos-y-pidio-la-renuncia-de-chiqui-tapia-por-desvio-de-fondos/" target="_blank">Escándalo en la AFA: un sponsor suspendió pagos y pidió la renuncia de “Chiqui” Tapia por desvío de fondos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/la-afa-contesto-la-intimacion-de-la-inspeccion-general-de-justicia-y-contesto-las-criticas-del-gobierno/" target="_blank">AFA contestó la intimación de la Inspección General de Justicia y desestimó las críticas del Gobierno</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/judiciales/2026/01/13/sur-finanzas-investigan-pagos-en-criptomonedas-por-transferencias-de-jugadores-y-avanza-el-analisis-de-los-celulares/" target="_blank">Sur Finanzas: investigan pagos por transferencias de jugadores y avanza el análisis de los celulares</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/desastre-absoluto-el-espeluznante-accidente-del-equipo-de-bobsleigh-de-estados-unidos-que-preocupo-al-deporte/" target="_blank">"Desastre": el espeluznante accidente del equipo de bobsleigh de EEUU que preocupó al deporte</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/detuvieron-a-tres-sospechosos-por-golpear-con-un-ladrillo-y-abusar-en-manada-a-una-joven-de-22-anos/" target="_blank">Detuvieron a 3 sospechosos por golpear con un ladrillo y abusar en grupo a una joven de 22 años</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/accidente-en-pinamar-sigue-grave-el-nino-de-8-anos-herido-tras-el-choque-multiple/" target="_blank">Pinamar: el niño herido en el choque de un UTV no puede ser trasladado por su grave estado de salud</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/una-tercera-mujer-aparecio-vinculada-a-luciano-castro-en-medio-de-la-crisis-con-griselda-siciliani-videos-y-fotos/" target="_blank">Una tercera mujer apareció vinculada a Luciano Castro en medio de la crisis con Siciliani: "Videos y fotos"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/12/los-videos-de-la-ola-gigante-que-impacto-en-la-costa-atlantica-y-dejo-un-muerto-y-decenas-de-heridos/" target="_blank">Los videos de la ola gigante que golpeó en la Costa y provocó un muerto y 35 heridos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/como-siguio-la-costa-atlantica-tras-el-meteotsunami-destrozos-por-la-crecida-y-pronostico-de-lluvias/" target="_blank">Cómo siguió la Costa: destrozos por la crecida y pronóstico de lluvias</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/no-lo-pudimos-salvar-dolor-y-conmocion-en-la-playa-donde-murio-un-joven-por-la-ola-gigante/" target="_blank">"No lo pudimos salvar": dolor y conmoción en la playa donde murió un joven</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/ciencia/2026/01/13/puede-repetirse-la-ola-gigante-que-afecto-a-la-costa-atlantica/" target="_blank">¿Puede repetirse la ola gigante que afectó a la Costa Atlántica?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/las-olas-gigantes-que-azotaron-a-la-costa-atlantica-en-su-historia-tres-episodios-un-mismo-patron-y-un-desenlace-distinto/" target="_blank">Las olas gigantes que azotaron la Costa: mismo patrón, un desenlace distinto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/opinion/2026/01/13/peron-y-la-standard-oil-un-espejo-para-venezuela/" target="_blank">Perón y la Standard Oil: ¿un espejo para Venezuela?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/murio-el-expolicia-baleado-por-delincuentes-durante-un-intento-de-robo-en-tres-de-febrero/" target="_blank">Murió el expolicía que había sido baleado por delincuentes durante un asalto en Tres de Febrero</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/con-un-video-de-maximo-kirchner-la-campora-salio-a-responder-una-critica-de-federico-sturzenegger/" target="_blank">Con un video de Máximo Kirchner, La Cámpora salió a responder una crítica de Federico Sturzenegger</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/la-principal-textil-del-pais-cerro-una-planta-en-tucuman-y-suspendio-a-190-trabajadores/" target="_blank">La principal textil del país cerró una planta en Tucumán y suspendió a 190 trabajadores</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/vaca-muerta-un-grupo-de-bancos-negocia-un-credito-de-usd-1000-millones-con-southern-energy-para-hacer-un-nuevo-gasoducto/" target="_blank">Vaca Muerta: un grupo de bancos negocia un crédito de USD 1.000 millones para un nuevo gasoducto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/le-negaron-la-domiciliaria-a-un-ex-jefe-de-la-carcel-de-batan-preso-por-abusar-de-internos-a-cambio-de-drogas/" target="_blank">Le negaron la domiciliaria a un ex jefe de la cárcel de Batán preso por abusar de internos a cambio de drogas</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/catherine-fulop-conto-como-es-su-estado-de-salud-a-un-mes-y-medio-de-su-operacion-de-hombro/" target="_blank">Catherine Fulop contó cómo es su estado de salud a un mes y medio de su operación de hombro</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/javier-milei-viajara-a-asuncion-para-la-firma-del-acuerdo-mercosur-union-europea-lula-es-el-unico-presidente-que-aun-no-confirmo-su-presencia/" target="_blank">Milei viajará a Asunción para la firma del acuerdo Mercosur-UE: Lula aún no confirmó su presencia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/el-gobierno-inicio-una-investigacion-a-una-parte-del-negocio-del-gas-sospechan-distorsion-de-precios-y-otras-irregularidades/" target="_blank">El Gobierno investiga una parte del negocio del gas: sospechan distorsión de precios e irregularidades</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-equipo-que-debutara-en-la-formula-1-en-2026-presento-su-primer-diseno-de-coche/" target="_blank">El equipo que debutará en la Fórmula 1 en 2026 presentó su primer diseño de coche</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/estan-estropeando-mi-imagen-hablo-la-argentina-que-amenazo-a-un-automovilista-en-punta-del-este/" target="_blank">“Están estropeando mi imagen”: habló la argentina que amenazó a un conductor en Punta del Este</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/con-trump-presente-milei-prepara-su-viaje-al-foro-de-davos-reuniones-con-lideres-globales-y-un-discurso-clave/" target="_blank">Con Trump presente, Milei prepara su viaje al Foro de Davos: reuniones con líderes globales y un discurso clave</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/la-nasa-inicia-manana-la-primera-evacuacion-medica-en-la-historia-de-la-estacion-espacial-internacional/" target="_blank">La NASA inicia mañana la primera evacuación médica en la historia de la Estación Espacial Internacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/como-pedir-un-credito-hipotecario-en-forma-100-online-en-la-nueva-plataforma-del-banco-nacion/" target="_blank">Cómo pedir un crédito hipotecario en forma 100% online en la nueva plataforma del Banco Nación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/se-filtro-el-video-del-ex-piloto-de-f1-que-agredio-a-un-hombre-por-supuestas-amenazas-a-su-hijo-el-descargo-tras-su-detencion/" target="_blank">Se filtró el video del ex piloto de F1 que agredió a un hombre por supuestas amenazas a su hijo: el descargo tras su detención</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-parte-medico-del-arquero-de-deportivo-madryn-que-sufrio-un-paro-cardiaco-en-plena-practica-como-seguira-su-recuperacion/" target="_blank">El parte médico del arquero de Deportivo Madryn que sufrió un paro cardíaco en plena práctica: cómo seguirá su recuperación</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/escandalo-en-mali-por-la-detencion-de-un-brujo-que-prometio-la-copa-de-africa-la-fortuna-que-recaudo-y-el-intento-de-linchamiento/" target="_blank">Escándalo en Malí por la detención de un brujo que prometió la Copa de África: la fortuna que recaudó y el intento de linchamiento</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/ciencia/2026/01/13/enfermedades-transmisibles-situacion-de-tuberculosis-coqueluche-y-hantavirus-en-argentina/" target="_blank">Enfermedades transmisibles: situación de tuberculosis, coqueluche y hantavirus en Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/mundo/2026/01/13/trump-exhorto-a-los-iranies-a-continuar-las-protestas-tomen-el-control-de-sus-instituciones/" target="_blank">Trump exhortó a los iraníes a continuar las protestas: “Tomen el control de sus instituciones”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/fuerte-cruce-al-aire-entre-un-periodista-y-un-meteorologo-por-la-situacion-de-los-carpinchos-en-nordelta/" target="_blank">Fuerte cruce al aire entre un periodista y un meteorólogo por la situación de los carpinchos en Nordelta</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/tamara-bella-se-sincero-sobre-su-vinculo-con-luciano-castro-tras-la-infidelidad-a-griselda-siciliani/" target="_blank">Tamara Bella se sinceró sobre su vínculo con Luciano Castro tras la infidelidad a Siciliani</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/judiciales/2026/01/13/comenzo-el-juicio-contra-una-presunta-banda-narco-de-gendarmes-acusada-de-transportar-334-kilos-de-cocaina/" target="_blank">Comenzó el juicio contra una presunta banda narco de gendarmes acusada de transportar 334 kilos de cocaína</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/las-causas-que-empujaron-la-salida-de-xabi-alonso-del-real-madrid-con-el-fichaje-de-mastantuono-en-el-foco-y-la-queja-por-el-poder-de-las-figuras/" target="_blank">Las causas que empujaron la salida de Xabi Alonso del Real Madrid con el fichaje de Mastantuono en el foco</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/torta-gratis-y-hasta-40-de-descuento-los-beneficios-que-ofrecen-los-supermercados-en-el-dia-de-tu-cumpleanos/" target="_blank">Torta gratis y hasta 40% de descuento: los beneficios de los supermercados en el día de tu cumpleaños</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/venezuela/2026/01/13/transicion-en-venezuela-en-vivo/" target="_blank">La ONG Foro Penal confirmó que hasta ahora son 56 los presos políticos que fueron excarcelados en Venezuela</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/magis-tv-audiencia-clave-para-uno-de-los-revendedores-alta-gama-acusado-de-pirateria-de-television-digital/" target="_blank">Magis TV: audiencia clave para uno de los revendedores ‘alta gama’ acusado de piratería de televisión digital</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/tendencias/2026/01/13/los-sesgos-mentales-que-influyen-en-las-decisiones-profesionales-y-afectan-el-desarrollo-laboral-segun-un-psicologo/" target="_blank">Los sesgos mentales que influyen en las decisiones profesionales y afectan el desarrollo laboral,</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/para-el-banco-mundial-la-economia-argentina-crecera-un-4-tanto-este-ano-como-en-2027/" target="_blank">Para el Banco Mundial, la economía argentina crecerá un 4% este año y en 2027</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/el-misterio-de-los-agujeros-negros-un-sorprendente-dato-cientifico-replantea-como-se-forman/" target="_blank">El misterio de los agujeros negros: un sorprendente dato científico replantea cómo se forman</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/inesperada-interna-radical-el-bloque-provincias-unidas-pide-la-exclusividad-del-nombre-ucr-en-diputados/" target="_blank">Inesperada interna radical: el bloque Provincias Unidas pide la exclusividad del nombre “UCR” en Diputados</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/floppy-tesouro-hablo-de-su-polemico-encuentro-con-martin-migueles-es-raro-que-te-encaren-en-una-escalera/" target="_blank">Floppy Tesouro habló de su polémico encuentro con Martín Migueles</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/expertos-investigan-si-el-mar-caribe-cambio-de-color-tras-el-paso-del-huracan-melissa/" target="_blank">Expertos investigan cómo el mar Caribe cambió de color tras el paso del huracán Melissa</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/virales/2026/01/13/como-es-minnie-la-gran-danes-reconocida-como-la-perra-mas-alta-del-mundo/" target="_blank">Cómo es Minnie, la gran danés reconocida como la perra más alta del mundo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/tini-stoessel-y-rodrigo-de-paul-mostraron-el-mismo-tatuaje-en-la-despedida-de-sus-vacaciones-en-tulum/" target="_blank">Tini Stoessel y Rodrigo de Paul mostraron el mismo tatuaje en la despedida de sus vacaciones en Tulum</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/un-futbolista-denuncio-que-lo-despidieron-por-ser-homosexual-la-respuesta-de-su-ex-club/" target="_blank">Un futbolista denunció que lo despidieron por ser homosexual: la respuesta de su ex club</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/moodys-invertira-mas-de-usd-3-billones-en-ampliar-la-capacidad-de-los-centros-de-datos-por-que-elegiria-a-la-argentina/" target="_blank">Prevén inversiones por más de USD 3 billones en centros de datos: por qué parte de los fondos podrían llegar a la Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/2026/01/13/como-conciliar-el-sueno-durante-una-noche-de-calor-extremo-consejos-para-lograr-un-descanso-reparador-en-verano/" target="_blank">¿Cómo conciliar el sueño durante una noche de calor extremo? Consejos para lograr un descanso reparador en verano</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/crece-el-escandalo-en-misiones-por-el-cobro-a-turistas-de-una-tasa-municipal/" target="_blank">Crece el escándalo en Misiones por el cobro a turistas de una tasa municipal</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/un-camion-de-carga-volco-en-la-ruta-2-y-desparramo-cereal-sobre-la-calzada-hubo-un-corte-parcial/" target="_blank">Un camión de carga volcó en la Ruta 2 y desparramó cereal sobre la calzada: hubo un corte parcial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/entretenimiento/2026/01/13/bts-regresa-a-latinoamerica-en-2026-paises-y-fechas-de-su-gira-mundial/" target="_blank">BTS regresa a Latinoamérica en 2026: países y fechas de su gira mundial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/el-dr-alberto-cormillot-aparecio-en-vivo-con-un-cuello-ortopedico-que-accidente-sufrio/" target="_blank">El Dr. Alberto Cormillot apareció en vivo con un cuello ortopédico: qué accidente sufrió</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/espana/2026/01/13/dos-extrabajadoras-de-las-mansiones-de-julio-iglesias-le-acusan-de-agresiones-sexuales/" target="_blank">Julio Iglesias fue acusado de agresiones sexuales por dos extrabajadoras de sus mansiones</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/belen-el-largometraje-de-dolores-fonzi-fue-nominada-a-mejor-pelicula-iberoamericana-en-los-premios-goya/" target="_blank">Belén, el largometraje de Dolores Fonzi, fue nominada a Mejor Película Iberoamericana en los Premios Goya</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-particular-contrato-bajo-la-meritocracia-deportiva-que-newells-le-hizo-firmar-al-zorro-coccaro/" target="_blank">El particular contrato bajo el sistema de la “meritocracia deportiva” que el Zorro Cóccaro firmó con Newell’s</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/el-salvador/2026/01/13/la-seguridad-y-la-cooperacion-centran-la-agenda-de-nayib-bukele-en-costa-rica/" target="_blank">La seguridad y la cooperación centran la agenda de Nayib Bukele en Costa Rica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/el-enigma-de-la-estancia-la-candelaria-y-una-hipotesis-escalofriante-el-caso-del-peon-y-su-familia-que-llevan-23-anos-desaparecidos/" target="_blank">El enigma de La Candelaria y una hipótesis escalofriante: el peón y su familia llevan 23 años desaparecidos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-argentino-luciano-benavides-se-confundio-cometio-un-error-en-el-inicio-de-la-etapa-y-perdio-el-liderazgo-del-rally-dakar-tuve-que-sobrevivir/" target="_blank">La confusión del argentino Luciano Benavides que lo hizo perder el liderazgo del Rally Dakar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/que-dijo-maia-reficco-de-las-versiones-de-romance-con-franco-colapinto/" target="_blank">Qué dijo Maia Reficco de las versiones de romance con Franco Colapinto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/imputaron-al-chofer-detenido-por-matar-a-una-mujer-durante-una-pelea-con-trapitos-en-mendoza-hay-nuevos-sospechosos/" target="_blank">Mendoza: imputaron al chofer por matar a una mujer en una pelea con trapitos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/un-nino-le-pregunto-a-una-ex-figura-de-la-nba-como-llegar-al-draft-y-la-respuesta-se-hizo-viral/" target="_blank">Un niño le preguntó a una ex figura de la NBA cómo llegar al Draft y la respuesta se hizo viral</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/benjamin-vicuna-disfruta-de-su-verano-mas-esperado-con-sus-hijos-y-su-novia-en-la-playa-de-punta-del-este-mi-tribu/" target="_blank">Benjamín Vicuña disfruta de su verano más esperado con sus hijos y su novia en Punta del Este: “Mi tribu”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/los-toro-el-prontuario-de-los-violentos-de-la-1-11-14-tras-la-captura-del-profugo-que-baleo-a-un-gendarme/" target="_blank">Los Toro: el prontuario de los violentos de la 1-11-14, tras la captura del prófugo que baleó a un gendarme</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/prision-preventiva-para-la-pareja-que-atropello-y-mato-a-un-joven-en-mendoza-tras-acusarlo-de-ladron/" target="_blank">Prisión preventiva para la pareja que atropelló y mató a un joven en Mendoza tras acusarlo de ladrón</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/el-recuerdo-de-nancy-duplaa-a-antonio-echarri-el-padre-de-pablo-hoy-cumpliria-90-anos/" target="_blank">El recuerdo de Nancy Dupláa a Antonio Echarri, el padre de Pablo: “¡Hoy cumpliría 90 años!”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/2026/01/13/deficit-calorico-o-ayuno-intermitente-que-metodo-realmente-funciona-para-perder-peso-segun-la-ciencia/" target="_blank">Déficit calórico o ayuno intermitente: qué método realmente funciona para perder peso según la ciencia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/el-cuerpo-humano-esta-preparado-para-los-viajes-prolongados-al-espacio-los-efectos-sobre-el-cerebro-y-las-celulas/" target="_blank">¿El cuerpo humano está preparado para los viajes largos al espacio?: los efectos sobre el cerebro y las células</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/entretenimiento/2026/01/13/como-matt-damon-logro-perder-15-kilos-para-la-odisea-no-habia-pesado-tan-poco-desde-el-instituto/" target="_blank">Cómo Matt Damon logró perder 15 kilos para La Odisea: “No había pesado tan poco desde el instituto”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/cultura/2026/01/13/frida-dan-flavin-y-la-nueva-coleccion-entre-las-principales-muestras-del-malba-para-su-25-aniversario/" target="_blank">Frida, Dan Flavin y la nueva colección, entre las principales muestras del Malba para su 25° aniversario</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-hijo-de-batistuta-como-tecnico-y-chamot-como-manager-el-proyecto-a-lo-guardiola-que-revoluciona-a-un-club-argentino/" target="_blank">El hijo de Batistuta como técnico y Chamot como mánager: el proyecto “a lo Guardiola” que revoluciona a un club argentino</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/generacion-silver/2026/01/13/es-contradictorio-que-marcas-que-disenan-para-un-publico-de-60-usen-modelos-de-30/" target="_blank">"Es contradictorio que marcas que diseñan para un público de 60 usen modelos de 30"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/mundo/2026/01/13/hallo-un-brazo-debajo-de-una-montana-de-nieve-y-registro-como-logro-salvarle-la-vida-a-un-esquiador-atrapado-tras-una-avalancha/" target="_blank">Halló un brazo debajo de una montaña de nieve y registró cómo logró salvarle la vida a un esquiador atrapado tras una avalancha</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/educacion/2026/01/13/que-aprendizajes-del-milagro-de-mississippi-pueden-implementarse-en-la-educacion-de-latinoamerica/" target="_blank">Qué aprendizajes del "milagro de Mississippi" pueden implementarse en la educación de Latinoamérica</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/educacion/2026/01/13/martes-13-no-te-cases-ni-te-embarques-pero-vale-aprender-sobre-las-supersticiones/" target="_blank">Martes 13: no te cases, ni te embarques, ¡pero vale aprender sobre las supersticiones!</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/educacion/2026/01/12/que-es-la-metacognicion-y-por-que-aprender-a-dudar-de-las-dudas-propias-puede-ser-el-mejor-motor-para-aprender/" target="_blank">Qué es la metacognición y por qué dudar de las propias dudas puede ser el mejor motor para aprender</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/entretenimiento/2026/01/13/el-esperado-cara-a-cara-entre-shuri-y-la-cosa-sorprende-en-el-nuevo-trailer-de-avengers-doomsday/" target="_blank">El esperado cara a cara entre Shuri y La Cosa sorprendió en el nuevo tráiler de Avengers: Doomsday</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/la-sorprendente-diversidad-de-titanosaurios-en-la-patagonia-sale-a-la-luz-con-un-nuevo-fosil/" target="_blank">La sorprendente diversidad de titanosaurios en la Patagonia sale a la luz con un nuevo fósil</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/perros-y-gatos/2026/01/13/como-evitar-el-golpe-de-calor-en-gatos/" target="_blank">¿Cómo evitar el golpe de calor en gatos?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/murio-una-estrella-del-deporte-tras-quedar-atrapado-en-una-avalancha-mientras-esquiaba/" target="_blank">Murió una estrella del deporte tras quedar atrapada en una avalancha mientras esquiaba</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/generacion-silver/2026/01/13/la-nueva-vejez-como-cambia-la-vida-cuando-se-extiende-la-longevidad/" target="_blank">La nueva vejez: cómo cambia la vida cuando se extiende la longevidad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/generacion-silver/2026/01/13/las-ciudades-age-friendly-como-es-el-enfoque-europeo-para-la-vida-cotidiana-de-las-personas-mayores/" target="_blank">Las ciudades ‘age-friendly’: cómo es el enfoque europeo para la vida cotidiana de las personas mayores</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/generacion-silver/2026/01/13/turismo-silver-en-la-patagonia-un-destino-que-no-es-solo-para-reyes/" target="_blank">Turismo silver en la Patagonia, un destino que no es solo para reyes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/policiales/2026/01/13/la-justicia-autorizo-que-una-empleada-domestica-acusada-de-robar-a-una-bebe-trabaje-en-punta-del-este/" target="_blank">La Justicia autorizó a trabajar en Punta del Este a una empleada doméstica acusada de robar una bebé</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/cultura/2026/01/13/mel-brooks-celebra-99-anos-de-genialidad-asi-es-el-documental-que-rinde-homenaje-a-su-irreverente-humor/" target="_blank">Mel Brooks celebra 99 años: así es el documental que homenajea a su irreverente humor</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/gustavo-conti-recordo-a-silvina-luna-con-una-emotiva-cancion-hoy-te-sone-negrita/" target="_blank">Gustavo Conti recordó a Silvina Luna con una emotiva canción: “Hoy te soñé, negrita”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/romina-gaetani-se-sincero-tras-el-episodio-con-su-acosadora-iba-a-ser-un-caos/" target="_blank">Romina Gaetani se sinceró tras el episodio con su acosadora: “Iba a ser un caos”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/la-sorprendente-conexion-entre-los-meteotsunamis-en-las-costas-de-argentina-y-uruguay-y-la-erupcion-de-un-volcan/" target="_blank">La sorprendente conexión entre los meteotsunamis en la costa Argentina y la erupción de un volcán</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/2026/01/13/delirios-en-la-psicosis-que-ocurre-en-el-cerebro-segun-un-estudio/" target="_blank">Delirios en la psicosis: qué ocurre en el cerebro, según un estudio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/inhouse/2026/01/13/el-sorteo-de-reyes-pone-en-juego-mas-de-250-millones-de-pesos-como-participar/" target="_blank">El sorteo de Reyes pone en juego más de 250 millones de pesos: cómo participar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/inhouse/2026/01/13/el-recorrido-de-75-anos-de-innovacion-en-la-gestion-de-recursos-humanos-de-una-empresa-familiar/" target="_blank">El recorrido de 75 años de innovación en la gestión de recursos humanos de una empresa familiar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/revista-chacra/2026/01/13/argentina-primer-consumidor-mundial-de-huevos/" target="_blank">Argentina, primer consumidor mundial de huevos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/revista-chacra/2026/01/13/lunes-negro-para-el-maiz-que-perdio-casi-10-dolares-en-chicago/" target="_blank">Lunes negro para el maíz, que perdió casi 10 dólares en Chicago</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/revista-chacra/2026/01/13/la-vitivinicultura-esta-en-rojo-desde-hace-casi-una-decada/" target="_blank">La vitivinicultura está “en rojo” desde hace casi una década</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/revista-chacra/2026/01/12/la-leche-empezo-el-ano-con-el-pie-derecho/" target="_blank">La leche empezó el año con el pie derecho</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/movant/2026/01/12/brasil-refuerza-su-infraestructura-logistica-con-inversiones-en-puertos-y-carreteras/" target="_blank">Brasil refuerza su infraestructura logística con inversiones en puertos y carreteras</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/movant/2026/01/12/exportaciones-chilenas-superaron-los-107000-millones-de-dolares-y-marcaron-un-record-en-2025/" target="_blank">Exportaciones chilenas superaron los $107.000 millones de dólares y marcaron un récord en 2025</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/movant/2026/01/11/el-acuerdo-uemercosur-anticipa-cambios-en-las-cadenas-logisticas-y-flujos-de-abastecimiento/" target="_blank">El acuerdo UE–Mercosur anticipa cambios en las cadenas logísticas y flujos de abastecimiento</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/cultura/2026/01/13/luna-miguel-hay-una-netflixificacion-de-la-vida-que-es-totalmente-terrorifica/" target="_blank">Luna Miguel: "Hay una ‘netflixificación’ de la vida que es totalmente terrorífica"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/cultura/2026/01/13/como-la-ia-permitio-hallar-una-pintura-gotica-del-siglo-xv-desaparecida/" target="_blank">Cómo la IA permitió hallar una pintura gótica del siglo XV desaparecida</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/cultura/2026/01/13/pueden-los-monos-pintar-arte-abstracto-como-los-humanos/" target="_blank">¿Pueden los monos pintar arte abstracto como los humanos?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/arc-raiders-confirma-mas-de-12-millones-de-copias-vendidas-y-celebra-con-obsequios-para-sus-jugadores/" target="_blank">ARC Raiders confirma más de 12 millones de copias vendidas y celebra con obsequios para sus jugadores</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/larian-studios-estudia-llevar-divinity-su-proximo-juego-a-la-nintendo-switch-2/" target="_blank">Larian Studios estudia llevar Divinity, su próximo juego, a la Nintendo Switch 2</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/ubisoft-ejecuta-una-ola-de-despidos-en-massive-entertainment-estudio-detras-de-avatar-frontiers-of-pandora/" target="_blank">Ubisoft ejecuta una ola de despidos en Massive Entertainment, estudio detrás de Avatar: Frontiers of Pandora</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/el-director-de-stellar-blade-declara-la-ia-esencial-para-posicionar-a-corea-en-la-industria-del-gaming/" target="_blank">El director de Stellar Blade declara la IA esencial para posicionar a Corea en la industria del gaming</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/crisis-publica-y-silencio-privado-la-decision-de-griselda-siciliani-y-luciano-castro-tras-la-infidelidad/" target="_blank">Crisis pública y silencio privado: la decisión de Griselda Siciliani y Luciano Castro tras la infidelidad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/12/araceli-gonzalez-abrio-su-album-de-fotos-ineditas-del-pasado-me-hace-muy-feliz-por-todo-lo-que-transite/" target="_blank">Araceli González abrió su álbum de fotos inéditas del pasado: "Me hace muy feliz por todo lo que transité"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/nico-occhiato-hablo-del-video-viral-que-desperto-rumores-de-crisis-con-flor-jazmin-pena/" target="_blank">Nico Occhiato habló del video viral que despertó rumores de crisis con Flor Jazmín Peña</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/marixa-balli-a-pura-tension-en-la-gala-de-eliminacion-de-masterchef-la-palabra-cortante-a-yanina-latorre/" target="_blank">Marixa Balli a pura tensión en la gala de eliminación de Masterchef: la palabra cortante a Yanina Latorre</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/espana/deportes/2026/01/13/xabi-alonso-se-pronuncia-tras-su-destitucion-del-real-madrid-no-ha-salido-como-nos-hubiera-gustado/" target="_blank">Xabi Alonso rompió el silencio tras su salida del Real Madrid: “No ha salido como nos hubiera gustado”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/12/el-sorprendente-anuncio-de-neymar-sobre-messi-que-causo-furor-en-brasil/" target="_blank">El sorprendente anuncio de Neymar sobre Messi que causó furor en Brasil</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/12/que-jugadores-del-top-100-competiran-en-el-challenger-de-rosario/" target="_blank">Qué jugadores del top 100 competirán en el Challenger de Rosario</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/continuan-los-cambios-en-alpine-confirmaron-la-salida-de-jack-doohan-tras-ser-reemplazado-por-franco-colapinto/" target="_blank">Cambios en Alpine: confirmaron la salida de Jack Doohan tras ser reemplazado por Colapinto</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    