
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TIMES</title>
    </head>
    <body>
        <main>
            <h1>TIMES</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/ice-videos-minnesota-trump-immigration.html" target="_blank">‘Like a Military Occupation’: Clashes Rise With Federal Agents in Minneapolis</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/politics/bill-hillary-clinton-testimony-epstein-inquiry-contempt.html" target="_blank">Facing Contempt Threat, Clintons Refuse to Testify in Epstein Inquiry</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/europe/marine-le-pen-trial-appeal-electoral-ban.html" target="_blank">Le Pen Is Appealing a Conviction That Bars Her From Office in France</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/health/shrooms-lead-the-pack-in-psychedelic-medicine-but-rollout-is-bumpy.html" target="_blank">’Shrooms Lead the Pack in Psychedelic Medicine, but the Rollout Is Bumpy</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/middleeast/gaza-palestinian-committee.html" target="_blank">U.S. to Name Palestinian Committee to Run Gaza</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/europe/greenland-trump-size.html" target="_blank">Greenland Would Be the Largest U.S. Land Acquisition, if Trump Got His Way</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/politics/supreme-court-transgender-athletes.html" target="_blank">Supreme Court Seems Inclined to Allow States to Bar Transgender Athletes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/politics/trump-speech-economy-inflation-fed.html" target="_blank">In a Risky Gambit, Trump Tries Brute Force to Lower Prices</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/politics/jerome-powell-investigation-blowback.html" target="_blank">Blowback Builds Over Criminal Investigation of Central Bank Chair</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/12/us/politics/us-boat-attacks-law.html" target="_blank">U.S. Used Aircraft That Looked Like Civilian Plane in September Boat Attack</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/business/venezuela-oil-winners-losers.html" target="_blank">Venezuela’s Oil Riches Are Years Off, but Winners and Losers Will Emerge</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/asia/south-korea-yoon-death-penalty.html" target="_blank">Prosecutors Demand Death Penalty for South Korea’s Ousted Leader</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/africa/uganda-election-internet.html" target="_blank">Uganda Cuts Internet Days Before Presidential Election</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/europe/trump-london-crime-homicide.html" target="_blank">Trump Says London Is Unsafe. Its Murder Rate Just Hit a Historic Low.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/europe/julio-iglesias-accused-sexual-assault.html" target="_blank">Spanish Prosecutors Investigate Sexual Assault Claims Against Julio Iglesias</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/canada/canada-gold-heist-arrest.html" target="_blank">Arrest Made in Toronto Airport Gold Heist as Police Seek 2 Others</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/business/orsted-wind-farms-trump.html" target="_blank">Danish Wind Farm Developer Scrambles to Salvage U.S. Projects</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/arts/music/bts-world-tour-concerts-2026-2027.html" target="_blank">BTS Announces World Tour, Ending Nearly 4-Year Hiatus</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    