
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TOP_NEWS</title>
    </head>
    <body>
        <main>
            <h1>TOP_NEWS</h1>
            <hr>
            
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/travel/the-worlds-most-powerful-passports-for-2026" target="_blank">The world’s most powerful passports for 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://edition.cnn.com//2026/01/13/health/weight-loss-drugs-suicide-risk-warning-removal" target="_blank">US FDA requests removal of suicide warnings from weight-loss drugs</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/economia/canasta-basica-familia-necesito-1308713-diciembre-pobre-indec_0_3P90i5tenb.html" target="_blank">La inflación de diciembre fue de 2,8% y cerró el 2025 en 31,5%, la más baja de los últimos ocho añosEl índice mostró un incremento por cuarto mes seguido. El transporte y los servicios encabezaron los aumentos, mientras que los alimentos también se ubicaron por encima del promedio. De todos modos, Milei lo celebró.Canasta básica: una familia necesitó $ 1.308.713 en diciembre para no ser pobreUno por uno, los rubros que más subieron y los que menos aumentaron en 2025Datos del INDECAgustina DevincenziAunque sigue en alza, la inflación de 2025 fue la más baja desde 2017.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/politica/tension-gobierno-igj-nego-autorizado-mudanza-sede-legal-afa-caba-provincia-buenos-aires_0_czUDlc7Tae.html" target="_blank">La IGJ cruzó a la AFA y negó que haya autorizado la mudanza de su sede legal desde la Ciudad hacia la ProvinciaInvestiga sus balancesDaniel Santoro</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/estropeando-imagen-queja-argentina-amenazo-bate-beisbol-automovilista-punta_0_8G0UAMn4cN.html" target="_blank">“Están estropeando mi imagen”: habló la argentina que amenazó con un bate de béisbol a un automovilista en Punta del EsteAcumula más de 50 multasSociedadLoop. Una argentina amenazó a un conductor en Punta del Este con un bate de béisbol</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/mundo/supermercados-francia-niegan-vender-productos-mercosur-rechazo-acuerdo-comercial_0_Dxfkg1IpAW.html" target="_blank">Grandes cadenas en Francia se niegan a vender productos argentinos en rechazo al acuerdo con el MercosurLibre comercioMundo</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/sociedad/descubren-nueva-especie-dinosaurio-especial-homenaje-hicieron-nombre_0_fuF7x4q7VZ.html" target="_blank">Descubren una nueva especie de dinosaurio: el especial homenaje que le hicieron con el nombre Pesaba hasta 10 toneladasSociedad</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/nicolas-vazquez-sincero-hablo-primera-vez-detalle-relacion-dai-fernandez-linda-vida-compartida_0_W2WcIrbWnP.html" target="_blank">Nicolás Vázquez se sinceró y habló por primera vez en detalle de su relación con Dai FernándezCompañeros en “Rocky”Fama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.clarin.com/fama/maia-reficco-hablo-rumores-romance-franco-colapinto-conto-conocieron_0_beD1r435LF.html" target="_blank">Maia Reficco habló sobre los rumores de romance con Franco ColapintoContó cómo se conocieronFama</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/us/politics/jerome-powell-investigation-blowback.html" target="_blank">Blowback Builds Over Criminal Investigation of Central Bank Chair</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/12/us/politics/us-boat-attacks-law.html" target="_blank">U.S. Used Aircraft That Looked Like Civilian Plane in September Boat Attack</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/europe/julio-iglesias-accused-sexual-assault.html" target="_blank">Spanish Prosecutors Investigate Sexual Assault Claims Against Julio Iglesias</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nytimes.com/2026/01/13/world/canada/canada-gold-heist-arrest.html" target="_blank">Arrest Made in Toronto Airport Gold Heist as Police Seek 2 Others</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/13/entretenimiento/bts-gira-mundial-fecha-ciudades-2026-efe" target="_blank">Así será la gira de BTS: estas son las fechas en México, Los Ángeles, Bogotá, Lima, Santiago, Buenos Aires y Madrid</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/13/viajes/pasaportes-mas-poderosos-mundo-2026-trax" target="_blank">Los pasaportes más poderosos del mundo para 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/13/entretenimiento/premios-goya-2026-nominaciones-los-domingos-sirat-efe" target="_blank">"Los domingos" y "Sirat", con 13 y 11 candidaturas, favoritas para los premios Goya 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/12/argentina/video/milei-redes-sociales-ingles-general-ancap" target="_blank">Así es el “General Ancap”, la caricatura de Milei con la que el presidente argentino presentó sus redes en inglés</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/12/mundo/ucrania-victimas-civiles-2025-rusia-trax" target="_blank">Rusia mató más de 2.500 civiles ucranianos en 2025, muchos de ellos lejos de las líneas del frente, según la ONU</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/01/mundo/vaquitas-marinas-salvar-especie-cte-llamado-tierra" target="_blank">Quedan menos de 10 vaquitas marinas. ¿Se puede salvar la especie?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/09/17/latinoamerica/esperanza-jaguar-america-cte-llamado-tierra" target="_blank">Esperanza para el jaguar en América: aumenta la población de estos imponentes felinos en México y Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/09/04/latinoamerica/gallery/tesoros-submarinos-argentina-uruguay-llamado-tierra-cte" target="_blank">Expediciones inéditas captan los tesoros submarinos de Argentina y Uruguay</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/07/24/clima-y-tiempo/video/lince-iberico-sorprendente-recuperacion-espana-llamado-tierra-cte" target="_blank">El lince ibérico: la sorprendente recuperación de esta especie en España</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2025/06/20/argentina/argentina-rescate-condores-cte-llamado-tierra" target="_blank">Guardianes de los cóndores: así es el trabajo que ha permitido rescatar a más de 500 majestuosas aves en Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/12/economia/paramount-demanda-warner-bros-discovery-netflix-trax" target="_blank">Paramount presenta una demanda contra Warner Bros. Discovery y amenaza con una batalla por el control de la compañía</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/09/economia/grok-musk-suscriptores-pago-desnudez-digital-trax" target="_blank">Grok de Elon Musk limita a suscriptores de pago funciones de generación de imágenes tras indignación por “desnudez digital”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/12/ciencia/video/inteligencia-artificial-de-musk-desnudez-digital-trax" target="_blank">La herramienta de inteligencia artificial de Musk, bajo crítica por su "desnudez digital"</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/12/ciencia/indonesia-y-malasia-bloquearon-grok-de-musk-imagenes-sexualizadas-trax" target="_blank">Indonesia y Malasia bloquearon el Grok de Musk por imágenes sexualizadas en una primicia mundial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/08/ciencia/regreso-astronautas-nasa-crew11-trax" target="_blank">Tripulación de la NASA regresará a la Tierra antes de lo previsto tras un problema médico en el espacio</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/02/eeuu/2026-punto-inflexion-segundo-mandato-y-legado-de-trump-trax" target="_blank">2026 es un punto de inflexión en la historia que definirá el segundo mandato y el legado de Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://cnnespanol.cnn.com//2026/01/13/entretenimiento/video/bts-historia-resumen-grupo-kpop-2026-orix" target="_blank">BTS: el regreso del fenómeno del K-pop en su World Tour 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/supreme-court/supreme-court-transgender-athletes-girls-sports-state-bans-argument-rcna252377" target="_blank">Supreme Court leans toward backing state restrictions on transgender student-athletes</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/sports/soccer/trump-travel-ban-senegal-ivory-coast-world-cup-rcna253883" target="_blank">Trump travel ban leaves Senegal and Ivory Coast fans in limbo for World Cup</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/politics/politics-news/huge-bipartisan-support-smithsonian-womens-history-museum-remains-stal-rcna252436" target="_blank">Despite huge bipartisan support, Smithsonian women’s history museum remains stalled</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/venezuelan-letters-to-maduro-viral-rcna253630" target="_blank">Venezuelans send 'letters' to Maduro in jail</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/news/us-news/virginia-man-plotted-double-murder-avoid-divorce-affair-au-pair-prosec-rcna253830" target="_blank">Au pair takes stand in trial of Virginia man accused of plotting double murder to avoid divorce</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/world/asia/former-navy-sailor-sentenced-16-years-selling-information-ships-china-rcna253757" target="_blank">Former Navy sailor sentenced to 16 years for selling information about ships to Chinese intelligence</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/tech/tech-news/international-pressure-builds-x-musk-grok-deepfakes-rcna253639" target="_blank">International pressure builds on X and Musk over Grok deepfakes of women and children</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/world/asia/venezuela-maduro-trump-china-south-america-oil-investment-rcna253162" target="_blank">Why Trump's Venezuela raid may not stop China's influence in South America</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/world/venezuela/venezuelans-react-government-same-without-maduro-rcna252645" target="_blank">Venezuelans who wanted change dismayed that Maduro loyalists remain in power</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/now/video/what-to-know-about-elon-musk-and-china-with-tesla-s-massive-gigafactory-in-shanghai-234872389993" target="_blank">What to know about Elon Musk and China with Tesla's massive 'Gigafactory' in Shanghai</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.nbcnews.com/world/israel/netanyahu-hopes-taper-israel-us-military-aid-decade-rcna253301" target="_blank">Netanyahu hopes to 'taper' Israel off U.S. military aid in next decade</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-warns-us-action-if-iran-hangs-protesters/" target="_blank">Trump warns U.S. "will take very strong action" if Iran hangs protesters</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/trump-fed-interest-rates-credit-cards-housing-affordability/" target="_blank">Trump is taking aim at borrowing costs. Will it work — or backfire?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/jared-polis-cbs-evening-news-vaccines-fraud-health-care/" target="_blank">Colorado Gov. Polis on "pro-freedom" vaccine stance, fraud claims from Trump</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/health-care-blue-collar-best-jobs-2026-indeed/" target="_blank">Looking to kickstart your career? These are the best jobs for 2026.</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/wwii-soldier-identified-wilbert-linsenbardt-missed-daughters-birth/" target="_blank">Remains of soldier who missed daughter's birth during WWII identified</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/mom-elon-musks-kid-says-ai-chatbot-grok-generated-sexual-deepfake-images/" target="_blank">Woman says AI chatbot Grok generated sexual deepfake images of her</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/how-much-will-200000-heloc-cost-per-month-in-2026/" target="_blank">How much will a $200,000 HELOC cost per month in 2026?</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/aca-subsidies-tax-credits-health-insurance/" target="_blank">ACA enrollment sinks sharply as coverage costs soar in 2026</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/mother-of-one-of-elon-musks-kids-says-ai-chatbot-grok-generated-sexual-deepfake-images-of-her/" target="_blank">Mother speaks out over AI chatbot Grok</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/ai-powered-humanoid-robots-60-minutes-video-2026-01-04/" target="_blank">Progress made on AI-powered humanoid robots</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/cbs-mornings-exclusively-announces-some-naacp-image-awards-nominations/" target="_blank">NAACP Image Awards nominations</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/how-ai-powered-robots-are-helping-small-farms-fight-labor-shortages/" target="_blank">How AI powered robots are helping small farms</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/british-regulators-are-investigating-elon-musks-x-over-groks-ai-generated-images/" target="_blank">British regulators on Grok AI images</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/elon-musk-grok-ai-pentagon-growing-backlash/" target="_blank">Pentagon adopting Musk's Grok AI despite growing backlash against it</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/homo-sapien-fossils-cave-earths-magnetic-field-flipped/" target="_blank">Fossils found in cave shed light on where our species emerged</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/video/trump-says-day-of-reckoning-and-retribution-in-minnesota-is-coming-as-ice-raids-continue/" target="_blank">Trump posts about Minnesota ICE raids</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.cbsnews.com/news/nasa-return-crew-11-earth-medical-issue/" target="_blank">NASA hopes to return Crew 11 to Earth next week over medical issue</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/milei-y-caputo-celebraron-el-dato-de-inflacion-de-2025-este-es-el-unico-camino-viable/" target="_blank">Milei y Caputo celebraron el dato de inflación de 2025: “Este es el único camino viable”</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/javier-milei-viajara-a-asuncion-para-la-firma-del-acuerdo-mercosur-union-europea-lula-es-el-unico-presidente-que-aun-no-confirmo-su-presencia/" target="_blank">Milei viajará a Asunción para la firma del acuerdo Mercosur-UE: Lula aún no confirmó su presencia</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-equipo-que-debutara-en-la-formula-1-en-2026-presento-su-primer-diseno-de-coche/" target="_blank">El equipo que debutará en la Fórmula 1 en 2026 presentó su primer diseño de coche</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/sociedad/2026/01/13/estan-estropeando-mi-imagen-hablo-la-argentina-que-amenazo-a-un-automovilista-en-punta-del-este/" target="_blank">“Están estropeando mi imagen”: habló la argentina que amenazó a un conductor en Punta del Este</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/politica/2026/01/13/con-trump-presente-milei-prepara-su-viaje-al-foro-de-davos-reuniones-con-lideres-globales-y-un-discurso-clave/" target="_blank">Con Trump presente, Milei prepara su viaje al Foro de Davos: reuniones con líderes globales y un discurso clave</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/la-nasa-inicia-manana-la-primera-evacuacion-medica-en-la-historia-de-la-estacion-espacial-internacional/" target="_blank">La NASA inicia mañana la primera evacuación médica en la historia de la Estación Espacial Internacional</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/salud/ciencia/2026/01/13/enfermedades-transmisibles-situacion-de-tuberculosis-coqueluche-y-hantavirus-en-argentina/" target="_blank">Enfermedades transmisibles: situación de tuberculosis, coqueluche y hantavirus en Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/fuerte-cruce-al-aire-entre-un-periodista-y-un-meteorologo-por-la-situacion-de-los-carpinchos-en-nordelta/" target="_blank">Fuerte cruce al aire entre un periodista y un meteorólogo por la situación de los carpinchos en Nordelta</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/para-el-banco-mundial-la-economia-argentina-crecera-un-4-tanto-este-ano-como-en-2027/" target="_blank">Para el Banco Mundial, la economía argentina crecerá un 4% este año y en 2027</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/economia/2026/01/13/moodys-invertira-mas-de-usd-3-billones-en-ampliar-la-capacidad-de-los-centros-de-datos-por-que-elegiria-a-la-argentina/" target="_blank">Prevén inversiones por más de USD 3 billones en centros de datos: por qué parte de los fondos podrían llegar a la Argentina</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/entretenimiento/2026/01/13/bts-regresa-a-latinoamerica-en-2026-paises-y-fechas-de-su-gira-mundial/" target="_blank">BTS regresa a Latinoamérica en 2026: países y fechas de su gira mundial</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-argentino-luciano-benavides-se-confundio-cometio-un-error-en-el-inicio-de-la-etapa-y-perdio-el-liderazgo-del-rally-dakar-tuve-que-sobrevivir/" target="_blank">La confusión del argentino Luciano Benavides que lo hizo perder el liderazgo del Rally Dakar</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/teleshow/2026/01/13/que-dijo-maia-reficco-de-las-versiones-de-romance-con-franco-colapinto/" target="_blank">Qué dijo Maia Reficco de las versiones de romance con Franco Colapinto</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/13/el-hijo-de-batistuta-como-tecnico-y-chamot-como-manager-el-proyecto-a-lo-guardiola-que-revoluciona-a-un-club-argentino/" target="_blank">El hijo de Batistuta como técnico y Chamot como mánager: el proyecto “a lo Guardiola” que revoluciona a un club argentino</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/america/ciencia-america/2026/01/13/la-sorprendente-conexion-entre-los-meteotsunamis-en-las-costas-de-argentina-y-uruguay-y-la-erupcion-de-un-volcan/" target="_blank">La sorprendente conexión entre los meteotsunamis en la costa Argentina y la erupción de un volcán</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/revista-chacra/2026/01/13/argentina-primer-consumidor-mundial-de-huevos/" target="_blank">Argentina, primer consumidor mundial de huevos</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/arc-raiders-confirma-mas-de-12-millones-de-copias-vendidas-y-celebra-con-obsequios-para-sus-jugadores/" target="_blank">ARC Raiders confirma más de 12 millones de copias vendidas y celebra con obsequios para sus jugadores</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/malditos-nerds/2026/01/13/ubisoft-ejecuta-una-ola-de-despidos-en-massive-entertainment-estudio-detras-de-avatar-frontiers-of-pandora/" target="_blank">Ubisoft ejecuta una ola de despidos en Massive Entertainment, estudio detrás de Avatar: Frontiers of Pandora</a></h2>
    </div>
    
    <div class="article">
        <h2><a href="https://www.infobae.com/deportes/2026/01/12/el-sorprendente-anuncio-de-neymar-sobre-messi-que-causo-furor-en-brasil/" target="_blank">El sorprendente anuncio de Neymar sobre Messi que causó furor en Brasil</a></h2>
    </div>
    
        </main>
    </body>
    </html>
    